* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #111;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: center;
}

.container {
  margin: 1em auto;
  background-color: #111;
  width: 650px;
  height: 650px;
  border: 10px solid #176944;
  display: grid;
  grid-gap: 3px;
}

button {
  margin: 1em 2em;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  color: #111;
  background-color: #fff;
  box-shadow: 0px 5px 40px -10px #333;
  transition: all 0.3s ease 0s;
}
